@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 361px;
  margin: 0 auto;
  background-color: var(--main-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


figure {
  margin: 0;
}

/*------------global------------*/

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
}

.site-section {
  margin-bottom: 100px;
}

/*------buttons------*/

.btn-reset {
  position: relative;
  z-index: 200;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn  {
  font-weight: 700;
  color: var(--main-color);
}




/*------colors------*/

:root {
  --main-color: #fff;
  --accent-color: #222;
  --text-color: #333;
  --second-text-color: #cacaca;
  --form-background: #414141;
  --btn-background: #ff9900;
  --btn-hover: rgba(255, 153, 0, .7);
  --active-color: #e1670e;
  --black-btn-color: #000;
  --blac-active-color: #666;
}

/*------------main-header------------*/

.main-header {
  position: relative;
  z-index: 100;
  height: 100px;
  background-color: var(--main-color);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.main-header__container {
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.main-header__logo {
  margin-right: auto;
}

.main-header__menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.main-header__nav {
  margin-right: 85px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 81px;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
  border: 2px solid transparent;
  transition-property: border, border-bottom, color ;
  transition-duration: .3s;
  transition-delay: .3s;
  transition-timing-function: ease;
}

.nav__link:hover:not(:active)  {
  border-bottom: 2px solid var(--btn-background);
}

.nav__link:focus:not(:active) {
  outline: none;
  border-color: var(--btn-background);
}

.nav__link:active {
  color: var(--active-color);
  border-color: var(--active-color);
}


/*------------section-hero------------*/

.section-hero {
  color: var(--main-color);
}
.section-hero__background  {
  height: 620px;
  padding-left: 80px;
  background-color: var(--text-color);
  background-image: url("/img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-hero__content {
  max-width: 875px;
  padding-top: 100px;
}

.section-hero__title  {
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85.33px;
}

.section-hero__descr  {
  width: 790px;
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
}

.section-hero__btn  {
  padding: 24.8px 36.62px;
  font-size: 23.46px;
  background-color: var(--btn-background);
  transition-property: background-color;
  transition-duration: .3s;
  transition-delay: .3s;
  transition-timing-function: ease;
}

.section-hero__btn:hover:not(:active) {
  background-color: var(--btn-hover);
}

.section-hero__btn:focus:not(:active) {
  background-color: var(--btn-hover);
}

.section-hero__btn:active {
  background-color: var(--active-color);
}

.btn-transparent  {
  padding: 18px 35px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  border: 3px solid var(--btn-background);
  transition-property: background-color, border-color;
  transition-duration: .3s;
  transition-delay: .3s;
  transition-timing-function: ease;
}

.btn-transparent:hover:not(:active) {
  background-color: var(--btn-background);
}

.btn-transparent:focus:not(:active) {
  background-color: var(--btn-background);
}

.btn-transparent:active {
  background-color: var(--active-color);
  border-color: var(--active-color);
}


/*------------section-hero------------*/

.section-about__title {
  margin-bottom: 20px;
}

.section-about__descr {
  max-width: 1235px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.section-about__content {
  --gap: 32px;
  display: flex;
  justify-content: space-between;
}

.section-about__block {
  width: calc((100% - var(--gap)) / 2);
}

.section-about__block_left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 868px;
  min-height: 622px;
  color: var(--main-color);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url("/img/about_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-about__darker  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: rgba(0, 0, 0, .5);

}

.section-about__left-content  {
  max-width: 454px;
}

.section-about__white-text  {
  font-weight: 700;
  font-size: 16px;
  line-height: 200%;
}

.section-about__article {
  width: 870px ;
  height: 295px;
  padding-top: 65px;
  padding-right: auto ;
  padding-bottom: 65px;
  padding-left: 300px;
  border: 1px solid var(--second-text-color);
  background-position-x: 60px;
  background-position-y: 65px;
  background-repeat: no-repeat;
}

.section-about__article_1 {
  background-image: url("/img/about-bg-1.svg");
}

.section-about__article_2 {
  background-image: url("/img/about-bg-2.svg");
}

.section-about__article:not(:last-child)  {
  margin-bottom: var(--gap);
}

.section-about__article-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
}

.section-about__article-text  {
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}





